@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/the-amsterdam');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
   }

html, body {
    height: 100%; /* Ensure the full height of the viewport is covered */
}

body {
    flex: 1;
}

* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

header {
    backdrop-filter: blur(7px) saturate(180%);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(209, 213, 219, 0.3);
    display: flex;
    top: 0;
    position: fixed;
    z-index: 1000;
    right: 0;
    width: 100%;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: space-between;
}

@media (min-width: 769px) {
    header {
        flex-direction: column;
        height: 235px;
    }
}
header img{
    width: 145px;
    margin-top: 15px;
}

header::before{
    backdrop-filter: blur(7px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(209, 213, 219, 0.3);
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

header ul li {
    font-family: "Montserrat";
    padding: 10px;
    cursor: pointer;
    color: black;
    font-weight: 600;
    transition: all 0.2s;
    margin-bottom: 20px;
}

header ul li:hover {
    background-color: rgb(236, 236, 236);
}

@media (min-width: 1200px) {

    .burger { 
        display: none;
    }
    
}

@media (min-width: 900px) {

    header ul li {
        font-size: 13px;
    }
    
}


@media (min-width: 768px) {
    header ul {
        display: flex;
    }
}

@media (max-width: 1200px) {

    .burger { 
        display: flex;
    }
    
}

.icons{ 
    font-size: 3.5rem;
    cursor: pointer;
    display: none;
    right: 5%;
    position: absolute;
}

a { 
    color: black;
}

#check { 
    display: none;
}

@media (max-width: 768px) {

    .icons {
        display: inline-flex;
    }
    
    .navbar {
        position: absolute;
        top: 166px;
        left: 0;
        overflow: hidden;
        height: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.75);
        border: 1px solid rgb(255, 255, 255);
        backdrop-filter: blur(7px) saturate(180%);
        transition: .3s ease;
    }

    header ul li {
        display: block;
        font-size: 1.1rem;
        margin: 3rem 0;
        font-weight: 600;
        text-align: center;
        transition: 0.3s ease;
    }
    
    .icons #close-icon {
        display: none;
    }

    #check:checked ~ .icons #menu-icon {
        display: none;
    }

    #check:checked ~ .icons #close-icon {
        display: block;
    }

    #check:checked ~ .navbar {
        height: 29rem;
    }
    #check:checked ~ .navbar .titulo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Center it properly */
        z-index: -1; /* Keep behind other elements */
    }
}

.BannerPrincipal{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    transition: height 0.3s ease-in-out;
    filter: brightness(0.7);
    background-image: url(/assets/banners/BannerPrincipal.jpg);
}

@media (min-width:800px){
    .BannerPrincipal{
        height: 700px;
    }
}


@media (max-width:800px){
    .BannerPrincipal{
        height: 450px;
    }
}

.concertos_div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 380px;
}

.concertos_div h2 {
    font-family: "the amsterdam";
    font-weight: 100;
    margin-top: 100px;
    font-size: 60px;
    color: rgb(197, 157, 95);
}

.concertos_div h4 {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

.sobrenos_div h2{
    font-family: "the amsterdam";
    font-weight: 100;
    font-size: 65px;
    color: rgb(197, 157, 95);
}

.sobrenos_div h3{
    font-family: "Montserrat";
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.sobrenos_div p{
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 13px;
    color: rgb(255, 255, 255);
}

.sobrenos_div {
    background-image: url(/assets/backgroundimages/ViolinoSobre.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
    height: 380px;
    margin-bottom: 100px;
    justify-content: center
}

.ContactMe {
    align-items: center;
    text-align: left;
    justify-content: center;
    display: flex;
}

.outrosContact {
    text-align: center;
    border-radius: 2px;
    padding: 10px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0) 0px 54px 55px, rgba(255, 255, 255, 0) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.05) 0px 12px 13px, rgba(0, 0, 0, 0) 0px -3px 5px;
}

.Face {
    filter: brightness(0) saturate(100%) invert(62%) sepia(45%) saturate(500%) hue-rotate(0deg) brightness(95%) contrast(85%);
    width: 29px;
    cursor: pointer;
    transition: all 0.4s;
}

.Insta {
    filter: brightness(0) saturate(100%) invert(62%) sepia(45%) saturate(500%) hue-rotate(0deg) brightness(95%) contrast(85%);
    cursor: pointer;
    width: 29px;
    transition: all 0.4s;
}

#Youtube {
    cursor: pointer;
    width: 30px;
    transition: all 0.4s;
    filter: brightness(0) saturate(100%) invert(62%) sepia(45%) saturate(500%) hue-rotate(0deg) brightness(95%) contrast(85%);
}

#yout:hover {
    cursor: pointer;
    transition: all 0.2s;
    color: rgb(197, 157, 95);
}

#insta:hover {
    cursor: pointer;
    color: rgb(197, 157, 95);
    transition: all 0.2s;
}

#face:hover {
    cursor: pointer;
    color: rgb(197, 157, 95);
    transition: all 0.2s;
}

#submit {
    cursor: pointer;
    background-color: rgb(88, 88, 88);
    padding: 10px 10px 10px;
    color: white;
    border: 0px;
    transition: all 0.4s;
}

#submit:hover {
    background-color: rgb(24, 24, 24);
}

.Nome  {
    
    border-top: 10px;
    border-right: 10px;
    border-left: 10px;
    border-color: rgb(197, 157, 95);
}
.Email {
    border-top: 10px;
    border-right: 10px;
    border-left: 10px;
    border-color: rgb(197, 157, 95);
}
.Msg {
    border-top: 10px;
    border-right: 10px;
    border-left: 10px;
    border-color: rgb(197, 157, 95);
}

.ContactMe h4 {
    text-align: center;
    font-family: "Montserrat", sans-serif; 
}

.outrosContact h3 {
    font-family: "Montserrat", sans-serif; 
}

.NumeroCont {
    margin-top: 30px;
    font-weight: 600;
}

@media (min-width:700px) {
    .ContactMe {
        flex-direction: row;
    }
    .outrosContact {
        margin-top: 50px;
        margin-left: 100px;
    }

    .outrosContact {
        width: 400px;
        height: 320px;
    }

    #submit {
        padding: 10px 10px 10px;
        width: 140px;
    }

    .SocialMediaContact {
        margin-top: 65px;
        margin-left: 10px;
        gap: 20px;
        display: flex;
        justify-content: center;
    }

    .Nome {
        height: 30px;
        width: 400px;
    }

    .Email {
        height: 30px;
        width: 400px;
    }
    .Msg {
        height: 30px;
        width: 400px;
    }

    #face {
        font-size: 25px;
    }

    #insta {
        font-size: 25px;
    }

    #yout {
        font-size: 25px;
    }

}

@media (max-width:700px) {

    .Email {
        height: 30px;
        min-width: 300px;
    }
    .Msg {
        height: 30px;
        min-width: 300px;
    }
    .Nome {
        height: 30px;
        min-width: 300px;
    }

    .SocialMediaContact {
        margin-top: 35px;
        gap: 20px;
        display: flex;
    }

    .ContactMe {
        flex-direction: column;
    }
    .outrosContact h3 {
        font-size: 15px;
    }

    .outrosContact {
        width: 330px;
        height: 300px;
    }

    .SocialMediaContact {
        margin-top: 45px;
        gap: 20px;
        display: flex;
        justify-content: center;
    }

    #submit {
        width: 300px;
        margin-bottom: 100px;
    }
}

@media (max-width:700px) {
    .footer {
        flex-direction: column;
    }
}

.footer {
    text-align: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif; 
    margin-top: 150px;
    align-items: center;
    width: 100%;
    padding: 100px 15%;
    background-color: rgb(16, 16, 16);
    color: white;
    display: flex;
    justify-content: space-between;
}

.footerlogo {
    width: 200px;
    border-radius: 20px;
}

.footer div{
    text-align: center;
}

.footer div h3 {
    font-weight: 300;
    font-family: "the amsterdam", sans-serif;
    color: rgb(197, 157, 95);
    font-size: 40px;
    font-weight: 100;
}

.nav__links2 li button{
    background-color: ;
    border: 0px;
    color: white;
    background-color: #00000000;
    font-family: "Montserrat";
    font-weight: 600;
    margin-bottom: 10px
}

.btnNav2 a{
    background-color: ;
    border: 0px;
    color: white;
    background-color: #00000000;
    font-family: "Montserrat";
    font-weight: 600;
}

.col-3 p{
    font-weight: 600;
    margin-bottom: 10px;
}

#MadeBy {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 600;
    padding: 10px;
    font-size: 14px;
    background-color: rgb(197, 157, 95);
}

.concertos_ul li {
    display: flex;
    width: 200px;
    height: 300px;
}

.social-icons a i {
    color: white;
}

.Card { 
    display: flex;
    align-items: center;
    margin: 3vh 0;
    position: relative;
}

.CardImage1 {  
    border: 3px solid rgb(182, 182, 9);
    background-image: url(https://www.cm-obidos.pt/cmobidos/uploads/poi/image/328/pedra.jpg);
    border-radius: 3px;
    width: 20rem; /* Replace vh with rem for consistent scaling */
    height: 20rem; /* Use rem or auto scaling for height */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 100px;
}

.WhiteCard{ 
    position: absolute;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(2px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.822);
    border: 1px solid rgba(209, 213, 219, 0.3);
    width: calc(100%);
    padding: 1rem;
    height: auto;
}

.WhiteCard h3 { 
    font-weight: 700;
    font-size: 17px;
    font-family: 'Lexend';
}

.WhiteCard p { 
    font-family: 'Lexend';
    font-weight: 400;
    font-size: 13px;
}

.DivConcertos { 
    font-family: 'Lexend';
    padding: 10px 10px;
}

.CardsConcertos { 
    display: flex;
    justify-content: center;
}
