@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,650;1,650&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.cdnfonts.com/css/the-amsterdam');

* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    scroll-behavior: smooth;
   }

.nav__links {
    font-family: "Montserrat", sans-serif; 
    align-items: center;
    display: flex;
    position: relative;
    cursor: pointer;
}

.nav__links li a {
    color: rgb(0, 0, 0);
}


.logo {
    cursor: pointer;
    height: 100px;
    display: none;
}

.logo2 {
    cursor: pointer;
    transition: all 0.4s;
    display: flex;
}

.logo2:hover {
    padding: 15px 15px 15px;
}

nav {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 50px;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

header {
    transition: all 0.4s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.btnNav2 {
    cursor: pointer;
    font-family: "Montserrat", sans-serif; 
    border: 0px;
    padding: 10px 10px 10px;
    transition: all 0.2s;
    background-color: white;
}

.btnNav2:hover {
    background-color: rgb(234, 234, 234);
}

#btnNav {
    color: rgb(0, 0, 0);
    transition: all 0.2s;
    padding: 10px 10px 10px;
    border-radius: 2px;
}

#btnNav:hover {
    background-color: rgb(234, 234, 234);
}

.bodycontact {
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    display: flex;
}

@media (max-width: 1000px) {
    .logo2 {
        width: 120px;
    }
    .nav__links {
        font-size: 12px;
    }

    #ObidosMun {
        width: 160px;
    }
    #Josefa {
        width: 170px;
    }
    #EspacoO {
        width: 160px;
    }
    #ObidosDetalhes {
        width: 120px;
    }
    .apoios {
        display: flex;
        flex-direction: column;
    }
    .ContactMe {
        flex-direction: column;
    }
    .outrosContact h3 {
        font-size: 15px;
    }

    .outrosContact {
        width: 330px;
        height: 300px;
    }

    .SocialMediaContact {
        margin-top: 45px;
        gap: 20px;
        display: flex;
        justify-content: center;
    }
    
    #Three {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
    }
    
    #Three div {
        height: 300px;
        width: 335px;
        margin: 10px;
    }
    .Sobre {
        height: 300px;
    }
    .container {
        flex-direction: column;
    }
    .div1, .div2, .div3 {
        min-height: 200px;
        align-items: center;
        justify-content: center;
        flex: 1;
      }

    .CodCont {
        margin-top: 30px;
    }
    .NumeroCont {
        margin-top: 30px;
    }
    .EmalCont {
        margin-top: 30px;
    }
    .Email {
        height: 30px;
        min-width: 300px;
    }
    .Msg {
        height: 30px;
        min-width: 300px;
    }
    .Nome {
        height: 30px;
        min-width: 300px;
    }
    .row {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }  

   .logo2 {
       width: 200px;
      display: none;
   }    
   .nav__links {
    display: none;
   }
   .Sobre h2 {
    color: rgb(197, 157, 95);
    font-family: "the amsterdam", sans-serif; 
    font-weight: 01;
    font-size: 30px;
}
    .logos-slide img {
    border-radius: 20px;
    margin: 0 8px;
    height: 200px;
    } 
    .bannernos h2 {
        font-size: 70px;
    }
    
    .bannernos h3 {
        font-size: 30px;
    }
    
    .bannernos p {
        font-size: 15px;
    }  
    #submit {
        width: 300px;
    }
    .container2 h2 {
        font-size: 65px;
    }
    .footer {
        flex-direction: column;
    }
    .logo3 {
        display: flex;
    }
    .logophone {
        display: flex;
        height: 120px;
    }
    #menuphone {
        cursor: pointer;
        display: flex;
        margin-top: 50px;
        margin-left: 40px;
        font-size: 30px;
    }
    .logo {
        display: flex;
    }
}

@media (max-width: 580px) {
    .logo {
        display: flex;
    }
    .nav__links {
        display: none;
    }
    #ObidosMun {
        width: 130px;
    }
    #Josefa {
        width: 140px;
    }
    #EspacoO {
        width: 130px;
    }
    #ObidosDetalhes {
        width: 100px;
    }
    .apoios {
        display: flex;
        flex-direction: column;
    }

    .outrosContact {
        width: 90%;
        height: 450px;
    }

    .SocialMediaContact {
        margin-top: 35px;
        gap: 20px;
        display: flex;
    }
    .logo {
        display: flexs;
    }
    .Email {
        height: 30px;
        min-width: 300px;
    }
    .Msg {
        height: 30px;
        min-width: 300px;
    }
    .Nome {
        height: 30px;
        min-width: 300px;
    }

    .CodCont {
        margin-top: 80px;
    }
    .NumeroCont {
        margin-top: 80px;
    }
    .EmalCont {
        margin-top: 80px;
    }
    #submit {
        width: 300px;
    }

    .Sobre {
        display: flex;
        align-items: center;
    }
    #Three {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;
    }
    
    #Three div {
        height: 300px;
        width: 100%;
        margin: 5px;
    }
    .Sobre {
        height: 410px;
    }
    .Sobre p {
        font-size: 12px;
    }

    .container {
        flex-direction: column;
    }
    .div1, .div2, .div3 {
        min-height: 200px;
        align-items: center;
        justify-content: center;
        flex: 1;
      }

    .row {
        flex-direction: column;
        text-align: center;
    }
    .Sobre h2 {
        color: rgb(197, 157, 95);
        font-family: "the amsterdam", sans-serif; 
        font-weight: 01;
        font-size: 45px;
    }
    .logos-slide img {
        border-radius: 20px;
        margin: 0 8px;
        height: 180px;
    }
    .bannernos h2 {
        font-size: 40px;
    }
    
    .bannernos h3 {
        font-size: 24px;
    }
    
    .bannernos p {
        margin-top: 40px;
        font-size: 15px;
    }
    .bannernos {
        text-align: center;
    }
    .container2 h2 {
        font-size: 45px;
    }
    .footer {
        flex-direction: column;
    }
    .logo3 {
        align-items: center;
        display: flex;
    }
    .col-2 li button {
        font-size: 10px;
    }
    
    .col-2 li button a {
        font-size: 10px;
    }
    
    .col-3 p {
        font-size: 10px;
    }
    
    #MadeBy p {
        font-size: 10px;
    }
    
    .footerlogo {
        width: 200px;
    }

    .footer {
        height: 950px;
    }
    .logophone {
        display: flex;
        height: 120px;
    }
    #menuphone {
        cursor: pointer;
        display: flex;
        margin-top: 50px;
        margin-left: 40px;
        font-size: 30px;
    }
}
@media (min-width:1000px) {
    #ObidosMun {
        transition: all 0.4s;
        width: 110px;
    }
    #Josefa {
        width: 120px;
    }
    #EspacoO {
        width: 110px;
    }
    #ObidosDetalhes {
        width: 70px;
    }
    #ObdCriativo {
        width: 180px;
    }
    .ContactMe {
        flex-direction: row;
    }
    .outrosContact {
        margin-top: 50px;
        margin-left: 100px;
    }

    .outrosContact {
        width: 400px;
        height: 320px;
    }

    #submit {
        padding: 10px 10px 10px;
        width: 140px;
    }

    .SocialMediaContact {
        margin-top: 65px;
        margin-left: 10px;
        gap: 20px;
        display: flex;
    }

    .Nome {
        height: 30px;
        width: 400px;
    }

    .Email {
        height: 30px;
        width: 400px;
    }
    .Msg {
        height: 30px;
        width: 400px;
    }

    .Sobre {
        height: 450px;
    }
    .container {
        height: 290px;
    }
    .container div {
        height: 290px;
    }
    .div1, .div2, .div3 {
        height: 255px;
        flex: 1;
        justify-content: center;
      }

    .Sobre {
        justify-content: center;
        display: flex;
        align-items: center;
    }
    
    .CodCont {
        margin-top: 30px;
    }
    .NumeroCont {
        margin-top: 30px;
    }
    .EmalCont {
        margin-top: 30px;
    }
    .row {
        align-items: center;
    }
    .logo2 {
        width: 160px;
        padding: 10px 10px 10px;
    }
    
    nav {
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 20px;
    }

    .logos:hover .logos-slide {
    animation-play-state: paused;
    }
    .Sobre h2 {
        color: rgb(197, 157, 95);
        font-family: "the amsterdam", sans-serif; 
        font-weight: 01;
        font-size: 60px;
    }
    .logos-slide img {
        border-radius: 20px;
        margin: 0 8px;
        height: 200px;
    }
    .bannernos h2 {
        font-size: 70px;
    }
    
    .bannernos h3 {
        font-size: 30px;
    }
    
    .bannernos p {
        font-size: 15px;
    }
    .container2 h2 {
        font-size: 60px;
    }
    .logophone {
        display: none;
    }
    #menuphone {
        display: none;
    }
}

header.sticky {
    transition: all 0.4s;
    padding: 5px 100px;
    background: #ff0000;
}

.Apoios2 {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.apoios {
    gap: 20px;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.ContactMe {
    align-items: center;
    text-align: left;
    justify-content: center;
    display: flex;
}

.outrosContact {
    text-align: center;
    border-radius: 2px;
    padding: 10px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0) 0px 54px 55px, rgba(255, 255, 255, 0) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.05) 0px 12px 13px, rgba(0, 0, 0, 0) 0px -3px 5px;
}

.Face {
    filter: brightness(0) saturate(100%) invert(62%) sepia(45%) saturate(500%) hue-rotate(0deg) brightness(95%) contrast(85%);
    width: 29px;
    cursor: pointer;
    transition: all 0.4s;
}

.Insta {
    filter: brightness(0) saturate(100%) invert(62%) sepia(45%) saturate(500%) hue-rotate(0deg) brightness(95%) contrast(85%);
    cursor: pointer;
    width: 29px;
    transition: all 0.4s;
}

#Youtube {
    cursor: pointer;
    width: 30px;
    transition: all 0.4s;
    filter: brightness(0) saturate(100%) invert(62%) sepia(45%) saturate(500%) hue-rotate(0deg) brightness(95%) contrast(85%);
}

#Youtube:hover {
    transform: scale(1.05);
}

.Insta:hover {
    transform: scale(1.05);
}

.Face:hover {
    transform: scale(1.05);
}

#submit {
    cursor: pointer;
    background-color: rgb(88, 88, 88);
    padding: 10px 10px 10px;
    color: white;
    border: 0px;
    transition: all 0.4s;
}

#submit:hover {
    background-color: rgb(24, 24, 24);
}

.Nome  {
    
    border-top: 10px;
    border-right: 10px;
    border-left: 10px;
    border-color: rgb(197, 157, 95);
}
.Email {
    border-top: 10px;
    border-right: 10px;
    border-left: 10px;
    border-color: rgb(197, 157, 95);
}
.Msg {
    border-top: 10px;
    border-right: 10px;
    border-left: 10px;
    border-color: rgb(197, 157, 95);
}

.ContactMe h4 {
    text-align: center;
    font-family: "Montserrat", sans-serif; 
}

.outrosContact h3 {
    font-family: "Montserrat", sans-serif; 
}

.Apoios2 h3 {
    font-family: "Montserrat", sans-serif; 
}

.Sobre h3 {
    font-family: "Montserrat", sans-serif; 
    font-size: 30px;
}

.Sobre p {
    font-weight: 100;
    font-family: "Montserrat", sans-serif; 
}

.logoApoios {
    cursor: pointer;
    transition: all 0.2s;
}

.bannerPrinc h2 {
    font-family: "Montserrat", sans-serif;      
    font-weight: 200;
    font-size: 40px;
}

.logoApoios:hover {
    transform: scale(1.05);
}

.hamburguer {
    display: none;
}

.Sobre {
    color: white;
    font-family: "Qwitcher Grypen", cursive;
    padding: 10px 10px 10px;
    text-align: center;
    width: 100%;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    background-image: url(https://i.ibb.co/PjTzDRd/Frame-14-1.png);
}

.Nome {
    font-family: "Montserrat", sans-serif;    
}

.Email {
    font-family: "Montserrat", sans-serif;   
}

.Msg {
    font-family: "Montserrat", sans-serif;   
}


.bannerPrinc {
    color: white;
    padding: 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-size: cover;
    background-position: left; 
    background-repeat: no-repeat; 
    height: 70vh;
    filter: brightness(80%);
    background-image: url(https://i.ibb.co/ZVv1tXM/banner4.pnghttps://scontent.flis4-1.fna.fbcdn.net/v/t1.6435-9/57192381_1634788526656685_2269072621666566144_n.jpg?stp=dst-jpg_s600x600&_nc_cat=107&ccb=1-7&_nc_sid=f798df&_nc_ohc=7Ebl5MJKlLoQ7kNvgHmY7KT&_nc_zt=23&_nc_ht=scontent.flis4-1.fna&_nc_gid=AqJ5v_-44bFEVLaV_jDH0Gf&oh=00_AYB1nOKpKN55apajV5E_6FL_NXvNssagIBUk9NzZPKRHgg&oe=673360D7);
}

.OutrosThree {
    background-color: rgb(225, 225, 225);
}
.SinfBaixo {
    font-size: 15px;
}

.container {
    display: flex;
    justify-content: space-between;
  }
  
  .div1, .div2, .div3 {
    flex: 1;
  }


  .div1 {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .div2 {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .div3 {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .div2 {
    color: white;
    background-color: rgb(36, 36, 36);
  }

  .bannerPrinc h2 {
    text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.307);
    font-size: 60px;
  }
.bannernos {
    color: white;
    background-image: url(https://i.ibb.co/10ByvSF/Frame-15-2.png);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 360px;
}

.bannernos h2 {
    font-family: "the amsterdam", sans-serif;
    font-weight: 1;
    color: rgb(197, 157, 95);
}

.bannernos h3 {
    font-family: "Montserrat", sans-serif;      
}

.bannernos p {
    font-family: "Montserrat", sans-serif;  
}

.Negrito {
    font-family: "Montserrat", sans-serif;  
    font-weight: 800;
}

.textofino {
    font-family: "Montserrat", sans-serif;  
}

.Mensagens {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logos-slide img {
    border-radius: 20px;
    cursor: pointer;
    margin: 0 8px;
}

.logos {
    font-family: "Montserrat", sans-serif;  
    padding: 60px 0px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.logos h2 {
    margin: 0 0px 40px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.logos-slide {
    display: inline-block;
    animation: 5s slide infinite linear;
}

.container2 {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
}

.container2 h2 {
    font-family: "the amsterdam", sans-serif;
    font-weight: 1;
    color: rgb(197, 157, 95);
}

.container2 h3 {
    font-family: "Montserrat", sans-serif;  
}

#BtnOficina {
    font-family: "Montserrat", sans-serif;  
    background-color: #252525b8;
    padding: 10px 10px 10px;
    border: 5px;
    width: 185px;
    transition: all 0.4s;
    cursor: pointer;
    border: 2.5px solid rgb(0, 0, 0);
    margin-top: 20px;
}

#BtnOficina:hover {
    background-color: black;
}

.footer {
    text-align: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif; 
    margin-top: 150px;
    align-items: center;
    width: 100%;
    padding: 100px 15%;
    background-color: rgb(16, 16, 16);
    color: white;
    display: flex;
    justify-content: space-between;
}

.footerlogo {
    width: 200px;
    border-radius: 20px;
}

.footer div{
    text-align: center;
}

.footer div h3 {
    font-weight: 300;
    font-family: "the amsterdam", sans-serif;
    color: rgb(197, 157, 95);
    font-size: 40px;
    font-weight: 100;
}

.col-2 a button {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(250, 235, 215, 0);
    margin-bottom: 10px;
    transition: all 0.2s;
}

.col-2 a:hover {
    color: rgb(197, 157, 95);
    background-color: #25252500;
}

.col-2 a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(250, 235, 215, 0);
    margin-bottom: 10px;
    transition: all 0.2s;
}

#MadeBy {
    font-family: "Montserrat", sans-serif; 
    color: black;
    display: flex;
    justify-content: center;
    background-color: rgb(197, 157, 95);
    padding: 10px 10px 10px;
    width: 100%;
    text-align: center;
}

#HugottrMade {
    cursor: pointer;
    color: black;
    transition: all 0.4s;
}

#HugottrMade:hover {
    color: white;
}

.social-icons i {
    color: white;
    font-size: 22px;
    margin: 10px;
    margin-top: 20px;
    transition: all 0.2s;
    cursor: pointer;
}

.social-icons i:hover {
    color: rgb(197, 157, 95);
}

.SocialMediaContact i {
    cursor: pointer;
    font-size: 25px;
    transition: all 0.4s;
    color: rgb(197, 157, 95);
}

.SocialMediaContact i:hover {
    color: black;
}

#hamburguer {
    font-size: 40px;
    display: none;
}

.nav__links2 li button {
    background-color: #ff000000;
    color: white;
}

.nav__links2 li button:hover {
    background-color: #ff000000;
    color: rgb(197, 157, 95);
}

.ofcmusica {
    text-align: center;
}

.logo3 {
    height: 140px;
    display: none;
}

.checkbtn {
    font-size: 40px;
    cursor: pointer;
}

.nav-mobile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.95);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
    transform: translateY(-100%);
    z-index: 1000;
}

#check:checked ~ .nav-mobile {
    display: flex;
    transform: translateY(0);
}

.nav-mobile li button {
    color: #000;
    padding: 1.5rem 2rem;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
    cursor: pointer;
}

.nav-mobile li button:hover {
    color: rgb(197, 157, 95);
}

@media only screen and (max-width: 1000px) {
    .checkbtn {
        display: block;
        position: absolute;
        top: 30px;
        right: 42px;
    }
}

@media only screen and (min-width: 1000px) {
    .checkbtn {
        display: none;
    }
}

nav i {
    color: #000000;
}
